.content2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  gap: 20px; padding: 20px;
  z-index: 10;
}

.content2-tab1 {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.155);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2-tab1 i {
  font-size: 40px;
  color: #ffffff;
}

.content2-tab2 {
  width: 850px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.155);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content2-tab1:hover,.content2-tab1 i,.content2-tab2:hover {
  transform: translateY(-3px);
}


/* 贪吃蛇按钮 */
.play-button {
  position: absolute;
  background-color: #ffffff00;
  border: none;
  font-size: 40px;
  transition: transform 0.2s;
  cursor: pointer;
}
.play-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .chart {
    flex-direction: column;
    gap: 15px;
  }
  .content2-tab1 {
    display: none;
  }
  .content2-tab2 {
    display: none;
    border-radius: 15px;
    width: 100%;
    height: 80px;
  }
}