@media (max-width: 768px) {
    .content {
      height: auto;
      padding: 15px;
    }
    
    .content1 {
      width: 95%;
      grid-template-columns: repeat(2, 1fr); /* 2列 */
      grid-template-rows: repeat(2, 1fr); /* 2行 */
      gap: 15px;
      padding: 0px;
    }
  
    .content-tab1 {
      border-radius: 0px 20px 20px 20px;
    }
    .content-tab2 {
      border-radius: 20px 0px 20px 20px;  
    }
    .content-tab3 {
      border-radius: 20px 20px 20px 0px;  
    }
    .content-tab4 {
      border-radius: 20px 20px 0px 20px;
    }
  
  }
  
