.body {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  

  
  .left {   /* 左区域容器 */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
