/* 移动端样式 */
@media (max-width: 768px) {

    /* 内容包装器 */
    .content-wrapper {
      display: none;
      height: auto;
      width: 175px; /* 减小宽度以便右侧显示 */
      position: absolute;
      left: 70px; /* 在头像右侧显示 */
      bottom: -5px; /* 与放大后的头像底部对齐 */
    }
  
    /* 头像状态：折叠(默认) */
    .avatar-container {
      opacity: 0.5; /* 降低透明度 */
      transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease, height 0.3s ease; /* 添加尺寸过渡 */
      width: 50px; /* 更小的头像容器 */
      height: 50px;

    }
    .avatar {
      border: 2px solid rgba(255, 255, 255, 0.192);
    }

    /* 头像状态：展开 */
    .info-container.expanded .avatar-container {
      transform: scale(1.2); /* 微微放大，但不是原始大小 */
      opacity: 1;
    }
    
    /* 展开状态的内容包装器 */
    .info-container.expanded .content-wrapper {
      display: block; /* 显示内容 */
      animation: fadeIn 0.2s ease; /* 添加淡入动画 */
    }
    
    /* 展开状态的按钮容器 */
    .info-container.expanded .bottom-btnc {
      margin-bottom: 10px; /* 与下方标签保持间距 */
    }
    
    /* 移动端按钮样式调整 */
    .bottom-button {
      height: 30px;
      width: 30px;
      border-radius: 20px;
    }
    
    /* 按钮图标 */
    .bottom-button a {
      font-size: 14px;
    }

    /* 微调标签样式 */
    .tag {
      padding: 3px 7px;
      font-size: 0.5rem;
    }
    
    /* 淡入动画 */
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateX(10px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
}