/* 播放器容器 */
.player {
  position: fixed; z-index: 999;
  width: 250px; right: 20px; bottom: 20px;  /* 定位到右下角 */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 控制面板 */
.control {
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18); border-radius: 10px;
  transition: all 0.3s ease;
  position: relative; /* 为通知定位提供参考点 */
}

/* 控制面板标题 */
.control-title {
  text-align: center;
  font-size: 10px; font-weight: 400;
  color: rgb(255, 255, 255);
}

/* 控制按钮 */
.control-btn {
  display: flex;
  justify-content: center; align-items: center; /* 水平垂直居中 */
  gap: 10px;
  margin: 10px 0 -10px 0;
}

/* 控制按钮样式 */
.control-btn button {
  width: 30px; height: 30px;
  color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 255, 255, 0); 
  border: none; border-radius: 50%;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.2s, background-color 0.2s;
}

/* 控制按钮悬停效果 */
.control-btn button:hover {
  color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.177);
}

/* 控制按钮按下效果 */
.control-btn button:active {
  transform: scale(0.6);
}

/* 移动端旋转音符 */
@media screen and (max-width: 768px) {
  /* 播放器容器 */
  .mobile-toggle {
    position: fixed; z-index: 999; display: flex; 
    align-items: center; justify-content: center;
    width: 50px; height: 50px; right: 20px; bottom: 20px; /* 定位到右下角 */
    margin: 0;
    font-size: 20px; /* 图标大小 */
    color: white; background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  /* 播放动画 */
  .mobile-toggle:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
  }

  /* 旋转动画 */
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  /* 播放动画 */
  .playing-animation {
    animation: rotate 5s linear infinite;
  }
}



/* ===== 超时通知样式 ===== */
.music-notification {
  position: absolute;
  width: 80%;
  top: -55px; left: 50%;  /* 定位到顶部中间 */
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
  pointer-events: none;
}

.music-notification.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.music-notification i {
  color: #f8d775;
}

