.playlist-container {  /* 播放列表容器 */
    position: relative;
  }
  
  #playlist-toggle {  /* 折叠按钮 */
    position: absolute; /* 左侧绝对定位 */
    display: flex; /* 块级元素变为行内元素 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    cursor: pointer;
    left: -62px; top: 57px; width: 40px; height: 40px;
    z-index: 1001; /* 确保在播放器之上 */
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff52;
    background: rgba(255, 255, 255, 0.2); /* 降低不透明度 */
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
  }
  
  #playlist-toggle:hover {  /* 按钮悬停 */
    background-color: rgba(113, 70, 213, 0.4);
  }
  



  #playlist {  /* 播放列表容器 */
    position: absolute;
    bottom: calc(100% + 20px);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s, box-shadow 0.3s;
    color: #ffffffd9;
    border-radius: 5px;
    font-size: 12px;
    z-index: 0; /* 确保在播放器之上 */
    background-color: rgba(162, 162, 162, 0.282);
  }
  
  #playlist.expanded {  /* 展开状态 */
    overflow-y: auto;
    scrollbar-width: none; /* 隐藏滚动条 */
    border: 1px solid rgba(192, 192, 192, 0.293);
  }
  
  #playlist ul {  /* 列表 */
    padding: 0;
    margin: 0;
  }
  
  #playlist li {  /* 列表项 */
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #playlist li:hover {  /* 悬停效果 */
    background-color: rgba(209, 74, 139, 0.321);
  }
  
  #playlist li.playing {  /* 当前播放 */
    background-color: rgba(187, 22, 63, 0.436);
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

