/* 隐藏原始 radio */
input[type="radio"] {
  display: none;
}

.playlist-categories {
  display: flex;
  position: relative;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* 分类按钮 */
.category-btn {
  flex: 1;
  text-align: center;
  padding: 12px;
  color: rgba(255, 255, 255, 0.353);
  z-index: 1;
  transition: color 0.3s ease;
  position: relative;
  font-size: 12px;
}

.category-btn:hover {
  color: #ffffff;
}

/* 选中状态下的按钮 */
.slider {
  position: absolute;
  top: 5px; /* 与上内边距对齐 */
  left: 5px; /* 与左内边距对齐 */
  width: 55.75px;  /* 每个按钮宽60px，减去左边距 */
  height: calc(100% - 10px); /* 减去上下内边距 */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  z-index: 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* 平滑滑动位置控制 */
#tab-all:checked ~ .playlist-categories .slider {
  transform: translateX(0%);
}
#tab-1:checked ~ .playlist-categories .slider {
  transform: translateX(calc(100% + 4.5px));
}
#tab-2:checked ~ .playlist-categories .slider {
  transform: translateX(calc(200% + 10.5px));
}
#tab-3:checked ~ .playlist-categories .slider {
  transform: translateX(calc(300% + 15.2px));
}

/* 选中状态下的文字高亮 */
#tab-all:checked ~ .playlist-categories label[for="tab-all"],
#tab-1:checked ~ .playlist-categories label[for="tab-1"],
#tab-2:checked ~ .playlist-categories label[for="tab-2"],
#tab-3:checked ~ .playlist-categories label[for="tab-3"] {
  color: #ffffff;
}
