@media screen and (max-width: 768px) {
.sentence {
  left: 20px; top: 20px; padding: 5px;
  backdrop-filter: none;
  border: none;
  font-size: 10px;
  box-shadow: none;
  background: none;
}
.sentence:hover {
  transform: none;
}


.weather {
  right: 20px; top: 20px; padding: 5px;
  backdrop-filter: none;
  border: none;
  box-shadow: none;
  background: none;
}
.weather:hover {
  transform: none;
}

.weather-icon {
  font-size: 20px;
}
.weather-temp {
  font-size: 10px;
}
.weather-humidity {
  font-size: 10px;
}
.weather-city {
  font-size: 10px;
}

}

